<h2 class="h3">Tilaa uutiskirje - noin viikon vinkit verkkosivuista</h2>
	<form
	action="https://buttondown.email/api/emails/embed-subscribe/verkkosivuista"
	method="post"
	target="popupwindow"
	onsubmit="window.open('https://buttondown.email/verkkosivuista', 'popupwindow')"
	class="embeddable-buttondown-form"
	>
	<label for="bd-email">Sähköposti</label>
	<input type="email" name="email" id="bd-email" />
	<input class="mt-2" type="submit" value="Tilaa uutiskirje" />
</form>