dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 var(--spacing-4x);
}

abbr {
	border-bottom: none;
	cursor: help;
	text-decoration: underline dotted;
}

mark,
ins {
	background-color: var(--color-primary-100);
	text-decoration: none;
}
