.nav__items--social {
	display: flex;
	flex-wrap: wrap;

	& > li {
		margin-bottom: var(--spacing-2x);
		margin-right: var(--spacing-2x);
	}

	& > li:last-child {
		margin-right: 0;
	}
}

.nav__items--social-footer {
	justify-content: center;
}

.nav__anchor--social {
	background-color: var(--color-grey-100);
	border-radius: 50%;
	color: var(--color-grey-900);
	display: block;
	padding: var(--spacing-2x);

	&:hover,
	&:focus,
	&:active {
		background-color: var(--color-grey-700);
		color: var(--color-white);
	}

	& .icon {
		height: 1.5em;
		width: 1.5em;
	}
}
