---
title: Noni. Sivua ei löytynyt
layout: layouts/page.njk
permalink: 404.html
---

{% block content %}
	<p>Noni. Minne lie kadonnut tämäkin sivu. Ehkä <a href="{{ "/" | url }}">etusivulta</a> pääsee takaisin eksyksiin.</p>
{% endblock %}
