---
title: Digitoimistot
archiveDescription: "Digitoimistojen aatelia laidasta laitaan."
permalink: /digitoimistot/index.html
layout: layouts/archive.njk
---

{% block content %}
	<div class="grid alignwide mx-auto">
		{% set selectedAgencies = agencies.items | featuredAgencies(true) | shuffle  %}
		{% include "components/entry-agency.njk" %}

		{% set selectedAgencies = agencies.items | featuredAgencies(false) | shuffle %}
		{% include "components/entry-agency.njk" %}
	</div>

	{% if pagination.pages.length > 1 %}
		<nav class="pagination mt-8" aria-label="Newer and older articles">
			<ol class="pagination__items reset-list">
				{%- for pageEntry in pagination.pages %}
					<li class="pagination__item">
						<a class="pagination__anchor fw-600" href="{{ pagination.hrefs[ loop.index - 1 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}><span class="screen-reader-text">Page</span>{{ loop.index }}</a>
					</li>
				{%- endfor %}
			</ol>
		</nav>
	{% endif %}
{% endblock %}
