---
title: Yrityksille vinkkejä verkkosivujen hankintaan. Ja tekijöille niiden tekemiseen.
layout: layouts/page.njk
---

{% block content %}
	<div class="grid alignwide mx-auto">
		<div class="flow-spacing">
			<p class="is-style-ingress">Sivusto tarjoilee vinkkejä verkkosivujen toimittajan valinnasta, visuaalisesta suunnittelusta, käyttäjäkokemuksesta, sisällöntuotannosta ja saavutettavuudesta.</p>
			<p class="">Ja kaikesta mitä nettisivujen puljaamisen kanssa eteen tupsahtelee.</p>
		</div>
		<div class="has-grey-050-background-color px-wrapper py-8">
			<div class="mx-auto max-width-md flow-spacing">
				{% include "components/newsletter.njk" %}
			</div>
		</div>
	</div>

	<div class="alignwide mx-auto mt-8 flow-spacing">
		<h2>Digitoimistot</h2>
		<div class="grid">
			{% set selectedAgencies = agencies.items | featuredAgencies(true) | shuffle  %}
			{% include "components/entry-agency.njk" %}
		</div>

		<p>
			{% set url = "/digitoimistot/" %}
			{% set text = "Digitoimistot" %}
			{% include "components/button.njk" %}
		</p>
	</div>
{% endblock %}
