---
title: Yrityksille vinkkejä verkkosivujen hankintaan. Ja tekijöille niiden tekemiseen.
layout: layouts/page.njk
---

{% block content %}
	<p class="is-style-ingress text-center">Sivusto tarjoilee vinkkejä verkkosivujen toimittajan valinnasta, visuaalisesta suunnittelusta, käyttäjäkokemuksesta, sisällöntuotannosta ja saavutettavuudesta.</p>
	<p class="text-center">Ja kaikesta mitä nettisivujen puljaamisen kanssa eteen tupsahtelee.</p>

	<p class="text-center"><a class="wp-block-button__link" href="/digitoimistot/">Digitoimistot</a></p>

	<div class="alignwide has-grey-050-background-color py-8">
		<div class="mx-auto max-width-md flow-spacing">
			<h2 class="h3">Tilaa uutiskirje - noin viikon vinkit verkkosivuista</h2>
			<form
				action="https://buttondown.email/api/emails/embed-subscribe/verkkosivuista"
				method="post"
				target="popupwindow"
				onsubmit="window.open('https://buttondown.email/verkkosivuista', 'popupwindow')"
				class="embeddable-buttondown-form"
				>
				<label for="bd-email">Sähköposti</label>
				<input type="email" name="email" id="bd-email" />
				<input class="mt-2" type="submit" value="Tilaa uutiskirje" />
			</form>
		</div>
	</div>
{% endblock %}
